<form method="post" action="/<%= @file_name %>" >
  <label for="content">Edit the contents of <%= @file_name%></label>
  <div>
    <textarea name="content" id="content" rows="20" cols="100"><%= @file_contents %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>