<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/cms.css" >
  </head>
  <body>
    <header>
      <h4>CMS Project</h4>
      <% if session[:message] %>
        <p class="message"> <%= session[:message] %> </p>
      <% end %>
      <% session.delete(:message) if session[:message] %>
      <div class="actions">
        <%= yield_content :header_links %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
