<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS App</title>
    <meta charset="UTF-8">
    <style>
    body {
      padding: 5em;
      font-family: sans-serif;
    }

    .message {
      padding: 10px;
      background: #FFFF99;
    }
    </style>
  
    <!--link rel="stylesheet" href="/stylesheets/cms.css"-->
  </head>
  <body>
    <header>
      <h4>CMS Project</h4>
      <% if session[:message] %>
        <p class="message"> <%= session[:message] %> </p>
      <% end %>
      <div class="actions">
        <%= yield_content :header_links %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>