body {
  padding: 5em;
  font-family: sans-serif;
  font-size: 12px;
}

.message {
  padding: 10px;
  background-color: #ffff00;
}

div {
  padding: 5px;
}


label {
  width: 250px;
  text-align: right;
  padding: 20px;
}

form.inline {
  display: inline;
}